<mat-card>
  <mat-card-content class="user-detail-header">
    <img src="./assets/img/male.png" alt="">
    <div class="user-basic-info">
      <h2>{{user?.lastName}}, {{user?.firstName}}</h2>
      {{user?.mail}}
    </div>

  </mat-card-content>
</mat-card>

<mat-card class="mt-32">

  <div class="edit-button-container">
    <button  mat-icon-button color="basic" matTooltip="Edit adress." (click)="openAddressDialog()" >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{user?.street}} <br>
    {{user?.zipCode}} {{user?.city}}
  </mat-card-content>
</mat-card>
