<mat-card>
  <mat-card-content class="user-detail-header" [ngStyle]="{'background-color': user?.bgColor}">

    <div class="edit-button-container" >
      <button mat-icon-button color="basic" matTooltip="Menu" [matMenuTriggerFor]="menuName" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuName="matMenu" xPosition="before" >
        <span mat-menu-item (click)="openEdit('user')"  >Edit personal info</span>
        <span mat-menu-item (click)="openEdit('image')" >Change profile image</span>
        <span mat-menu-item (click)="openEdit('bgc')" > Change background color</span>
      </mat-menu>
    </div>

    <img src="./assets/img/{{user?.img}}.png" alt="">
    <div class="user-basic-info">
      <h2>{{user?.lastName}}, {{user?.firstName}}</h2>
      <a class="mailLink" href="mailto:{{user?.mail}}">{{user?.mail}}</a>
      <div class="birthDay"> Born : {{user?.birthDate?.toDateString()}}</div>
    </div>

  </mat-card-content>
</mat-card>

<mat-card class="mt-32">

  <div class="edit-button-container">
    <button mat-icon-button color="basic" matTooltip="Menu" [matMenuTriggerFor]="menu" >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <span mat-menu-item (click)="openEdit('address')">Edit address</span>
    </mat-menu>
  </div>

  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{user?.street}} <br>
    {{user?.zipCode}} {{user?.city}}
  </mat-card-content>
</mat-card>
